.calbtn{
    margin: 5px;
    height: 30px;
    width: 50px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.calbtn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px black;
}

.op{
    width: 230px;
    height: 40px;
    box-shadow: 0px 0px 10px black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}